body{
    margin: 0;
    background: linear-gradient(to left bottom,#8080E0, #00d4ff);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
    background-color: rgba(255,255,255,.3);
    padding: 20px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin: 5px;

}
.heading{
    font-size: 30px;

}
.input{
    padding: 10px 20px ;
    font-size: 18px;
    background: rgba(255,255,255,.4);
    border-color: rgba(255,255,255,.5);
    margin: 10px;

}
.btn{
    background-color: lightseagreen;
    color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    cursor:pointer;

}
.btn.hover{
    box-shadow: 0 0 8px rgba(0,0,0,.3)00;
    transition: all 300ms ease;
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}